body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #2f7171;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


/* Suchseite */

#search {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

#searchInput {
    padding: 12px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:hover,
#searchInput:focus {
    border-color: #2f7171;
}

#searchInput::placeholder {
    color: #999;
}

#searchButton {
    padding: 12px 20px;
    background-color: #2f7171;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #555;
}

a {
    color: #2f7171; 
    text-decoration: none; 
}

/* Detailseite */

#userList {
    margin-top: 20px;
}


.user-container {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.user-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2f7171;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#navigation {
    list-style-type: none;
    padding: 2.5;
}

#navigation li {
    display: inline;
    margin-right: 20px;
}

#navigation li:last-child {
    margin-right: 0;
} 